
*{
	margin:0;
	padding:0;
	box-sizing:border-box;

}
.navbar{
	font-family: 'Playfair Display', serif;
	height: 60px;
}
#tshirt{
	margin-left:30px;
}
.welcome-text h2{
font-family: 'Playfair Display', serif;

}
#conti{
	
}
#carouselExampleControls{
	margin-left:50px;
	margin-top: 40px;
	height: 650px;
	width: 400px;
}
#carouselExampleControls1{
	margin-top: 40px;
	margin-right:300px;
	height: 100px;
	width: 750px;
}
#shopbtn{
	margin-left:55px;
}


.jumbotron hr{	background-color: white;
}
#jumbocontact{
	font-family: 'Bebas Neue', cursive;
}
#jumboindex{
	margin-top: 40px;
	font-family: 'Bebas Neue', cursive;
}

#landing{
	background:url(../images/lum.jpg);
	height: 600px;
	width:100%;
	 background-repeat:no-repeat;
	background-size: cover;
	
}
.row{
	width:100%;
}
.fas{
	margin-left: 5px;
}
#mainbtn{
	font-family: 'Playfair Display', serif;
	margin-left:600px;
	margin-top: 450px;
}

.gn{
	margin-left:80px;
	height: 350px;
}
.team{
	margin-top: 30px;
}
.team h1{
	text-align: center;
	font-family: 'Playfair Display', serif;

}
/*.welcome-text{
	position: absolute;
	top:35%;
	text-align: center;
	left:25%;
}*/
.welcome-text h2{
	position:absolute;
	top:40%;
	text-align: center;
	left:30%;
	font-size: 60px;

}

.new{
	margin-top: 0 auto;
	padding:0 auto
	height:10px;
}
.container {
  position: relative;
  width: 50%;

  }
  .container .btn  {
  position: absolute;
  bottom:5%;
  left:45%;
  font-size: 16px;
  padding: 12px 24px;
   background-color: Transparent;
   background-repeat:no-repeat;
   border: none;
   cursor:pointer;
   overflow: hidden;    
  }
.btn a{
color:black;
}
.tees{
	color:black;
}
#tees-section{
	
}
#teesbg{

	font-family: 'Playfair Display', serif;

}

#username{
	font-family: 'Bebas Neue', cursive;
	width: 80%;
}
#email{
	font-family: 'Bebas Neue', cursive;
	width:80%;
}
#contact{
	font-family: 'Bebas Neue', cursive;
	width:80%;
}
#contactp{
	font-family: 'Playfair Display', serif;
	margin-left: 10px;
}
#message{
	font-family: 'Bebas Neue', cursive;
	width:80%;
}	
#btncnt{
	width:80%;
}
#touch{
	margin-left: 210px;
	margin-top:70px;
	font-family: 'Playfair Display', serif;
}
#touch1{
	margin-left: 210px;
	font-family: 'Playfair Display', serif;
}
#form{
	margin-top: 20px;
	margin-left: 250px;
	margin-bottom: 100px;
}
#map{

	margin-top: 125px;
	margin-bottom: 100px;
}
#maph{
	height:430px;
	width:400px;
}
#txtarea{
	height: 100px;
	width: 80%;
	margin-bottom: 10px;
}
.card{
		
	height:95%;
	width:70%;
	margin-left: 15%;
   position: absolute;
}

.card-body{
	height:30%;


}
.word{
	text-align: center;
	margin-top: 12%;
	color: white;

	
	/*position: fixed;*/
}
.word1{
	
	text-align: center;
	margin-top: 20%;
	color: black;
	margin-right: 30%;
	margin-left: 30%;


}
.tes{
	color:black;
}
.tees{
	color:black;
}

.senti{
	width:100%;
	height: 50vh;
}
.heartbeat{
font-family: 'Titillium Web', sans-serif;
text-align: left;
padding-top: 1%;
margin-left: 5%;
}
.heartbeat1{
font-family: 'Titillium Web', sans-serif;
text-align: left;
padding-top: 1%;
margin-left: 5%;
}
.bg{
	
	background-color: black;
	background-position: fixed;
}
/*end of about page*/

#contactsbg{
background:url(../images/contacts.jpg);
height:100vh;	
width:100vw;
background-size: cover;
background-repeat: no-repeat;

}
.title{
	color:black;
}
.containertxt{
	margin-left: 30%;
	text-align:justify;
	border-style:solid ;
	width:40%;

}
.meet{
	padding-bottom: 10%;
}

/*-------------------------*/

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
/*--------------------------*/
/*@media only screen and (min-width:320px){

	#maph{
	height:410px;
	width:350px;
}
	#designer{
		margin-top: 15px;
	margin-left: 15px;
	}
	#carouselExampleControls{	
		margin-left:10px;
		margin-top:40px;
		height: 500px;
		width:310px;
	}
	#carouselExampleControls1{
		margin-left:10px;
		height: 250px;
		width:310px;
	}
	#cont1{
		margin-left:13px;

	}	
	.modal-content{
	    position: relative;
	    display: flex;
	    flex-direction: column;
	    margin-top: 50%;
	}


	#username{
		width:100%;
	}
	#email{
		
		width:100%;
	}
	#contact{

		width:100%;
	}
	#message{

		width:100%;
	}	
	#btncnt{
		width:100%;
	}
	#form{
		margin-top: 30px;
		margin-left:20px;
		margin-bottom: 50px;
	}
	#maph{
		margin-top: 40px;
		margin-bottom: 30px;
		margin-left: 10px;
		height:400px;
		width:300px;
	}
	.card{
		margin-right:60px;
	}
	#shopbtn{
		margin-left:28px;
		margin-bottom: 20px;
	}
	#landing{
		height: 630px;
		width:360px;
	    background-repeat:no-repeat;
		background-size: cover;
	}
	.welcome-text h2{
		position:absolute;
		top:30%;
		text-align: center;
		left:3%;
		margin-left: 20px;
		font-size: 60px;

	}
			
	#mainbtn{
		margin-top:80%;
		margin-left:33%;
	}
	#tshirt{
		margin-left: 10px;
	}

}*/

@media only screen and (max-width:360px){
	#maph{
	height:410px;
	width:350px;
}
	#designer{
		margin-top: 15px;
	margin-left: 15px;
	}
	#carouselExampleControls{	
		margin-left:10px;
		margin-top:40px;
		height: 500px;
		width:310px;
	}
	#carouselExampleControls1{
		margin-left:10px;
		height: 250px;
		width:310px;
	}
	#cont1{
		margin-left:13px;

	}	
	.modal-content{
	    position: relative;
	    display: flex;
	    flex-direction: column;
	    margin-top: 50%;
	}


	#username{
		width:100%;
	}
	#email{
		
		width:100%;
	}
	#contact{

		width:100%;
	}
	#message{

		width:100%;
	}	
	#btncnt{
		width:100%;
	}
	#form{
		margin-top: 30px;
		margin-left:20px;
		margin-bottom: 50px;
	}
	#maph{
		margin-top: 40px;
		margin-bottom: 30px;
		margin-left: 10px;
		height:400px;
		width:300px;
	}
	.card{
		margin-right:60px;
	}
	#shopbtn{
		margin-left:28px;
		margin-bottom: 20px;
	}
	#landing{
		height: 630px;
		width:360px;
	    background-repeat:no-repeat;
		background-size: cover;
	}
	.welcome-text h2{
		position:absolute;
		top:30%;
		text-align: center;
		left:2%;
		font-size: 60px;

	}
			
	#mainbtn{
		margin-top:85%;
		margin-left:33%;
	}
	#tshirt{
		margin-left: 10px;
	}

}

@media only screen and (min-width:361px) and (max-width:499px){
	#form{
		margin-top: 30px;
		margin-left:70px;
		margin-bottom:50px;
	}
	#conti{
	margin-right:30px;
	margin-top: 30px;
	}	
	#mainbtn{
	font-family: 'Playfair Display', serif;
	margin-left:130px;
	margin-top: 400px;
	}
	.welcome-text h2{
	position:absolute;
	top:30%;
	margin-right: 0px;
	text-align: center;
	font-size: 60px;
	}
	#landing{
		height:630px;
		width:100%;
	    background-repeat:no-repeat;
		background-size: cover;
	}
	#carouselExampleControls{
	margin-left:50px;
	margin-top:40px;
	height: 500px;
	width: 300px;
	}
	#carouselExampleControls1{
	margin-left:10px;
	height: 250px;
	width:100%;
	}
	#maph{
	height:410px;
	width:350px;
	margin-left:20px;
	}
	
}

@media only screen and (min-width:500px) and (max-width:768px){
	#row2{
		margin-left: 10px;
	}
	#row1{
		margin-left: 10px;
	}
	.footer-distributed{
		width: 100%;
	}
	#landing{
		height:950px;
		width:100%;
	    background-repeat:no-repeat;
		background-size: cover;
	}
	#carouselExampleControls1{
	margin-left:100px;
	width:150%;
	}
	#carouselExampleControls{
		height: 400px;
		width: 100%;
	}
	
	#jumboindex{
		width: 100%;
	}
	#cont1{
	margin-top: 50px;

	}	
	.navbar{
		width: 100%;
	}
	.navbar-toggler{
		
		
	}
	#mainbtn{
	font-family: 'Playfair Display', serif;
	margin-left:350px;
	margin-top: 600px;
	}
	.welcome-text h2{
	top:35%;
	left:8%;
	margin-right: 40px;
	text-align:center;

	font-size: 100px;
	}
	#shopbtn{
		margin-left:15px;
		margin-bottom: 20px;
	}
	#designer{
		margin-top:50px;
		margin-left:0px;	
	}

	#maph{
		margin-top: 40px;
		margin-bottom: 30px;
	
		height:300px;
		width:300px;
	}
	.team{
		width: 100%;
		margin-top: 80px;
		margin-bottom: 100px;
	}
	#form{
		margin-top: 30px;
		margin-left:20px;
		margin-bottom:50px;
	}
	#row3{
		margin-left: 20px;
		margin-bottom: 200px;
	}
	#jumbocontact{
		width:100%;
	}

	#row10{
		margin-bottom: 360px;
	}

	#shop1{
	margin-bottom: 400px;
	}
}
@media only screen and  (max-width:1024px){
	#row2{
		margin-left: 10px;
	}
	#row1{
		margin-left: 10px;
	}
	.form{
		
	}
	
	.footer-distributed{
		width: 100%;
	}
	#landing{
		height:950px;
		width:100%;
	    background-repeat:no-repeat;
		background-size: cover;
	}
	#carouselExampleControls1{
	margin-left:100px;
	width:150%;
	}
	#carouselExampleControls{
		height: 400px;
		width: 100%;
	}
	
	#jumboindex{
		width: 100%;
		margin-top: 210px;
	}
	#cont1{
	margin-top: 50px;

	}	
	.navbar{
		width: 100%;
	}
	.navbar-toggler{
		
		
	}
	#mainbtn{
	font-family: 'Playfair Display', serif;
	margin-left:470px;
	margin-top: 600px;
	}
	.welcome-text h2{
	top:25%;
	left:8%;
	margin-right: 40px;
	text-align:center;

	font-size: 100px;
	}
	#shopbtn{
		margin-left:15px;
		margin-bottom: 20px;
	}
	#designer{
		margin-top:50px;
		margin-left:0px;	
	}

	#maph{
		margin-top: 40px;
		margin-bottom: 30px;
	
		height:300px;
		width:300px;
	}
	.team{
		width: 100%;
		margin-top: 80px;
		margin-bottom: 100px;
	}
	#form{
		margin-top: 30px;
		margin-left:20px;
		margin-bottom:50px;
	}
	#row3{
		margin-left: 20px;
		margin-bottom: 200px;
	}
	#jumbocontact{
		width:100%;
	}

	#row10{
		margin-bottom: 670px;
	}

	#shop1{
	margin-bottom: 400px;
	}
}





.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}








